<p>step works!</p>


<div class="container container-purple container-center">
  <h2>
    Time for a
    <br/>
    <span class="highlight">qwik intro</span>?
  </h2>
  <div class=gettingstarted>
    <div class="intro">

      <p [innerHTML]="getCurrentStep().message"></p>

      <!-- Vérifiez si l'indice est présent avant de l'afficher -->
      <ng-container *ngIf="getCurrentStep().hint">
        <p [innerHTML]="getCurrentStep().hint"></p>
      </ng-container>

    </div>
    <span class=hint></span>
  </div>

  <button class="button-dark" (click)="changeValue()">
    next {{gettingStartedStep +1}}
  </button>

</div>
